---
layout: layouts/base.njk
title: Dem Calves 5k
startImagePath: "2022/1.jpg"
eleventyComputed:
  images: images.
---
<script>
function updateTimer(targetTime, countdownElement) {
  let now = new Date();

  // https://www.w3schools.com/howto/howto_js_countdown.asp
  let timeleft = targetTime.getTime() - now.getTime();

  if (timeleft <= 0) {
    timeleft = 0;
  }

  // https://stackoverflow.com/a/57805/814492
  // we want to end on a "Green means Go" color, so add the decimal 
  // conversion of the hex 7CFC00, so that if timeleft == 0, it's green!
  let hexString = (timeleft + 8190976).toString(16).slice(-6);
  
  let days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
  let hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  let minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
  let seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

  countdown.innerHTML = `<span style="color: #${hexString};">${days}d ${hours}h ${minutes}m ${seconds}s</span>`;
}

</script>
<div class="h-event container">
  <header class="row text-center">
    <h1 class="p-name display-1 col">{{ title | noOrphans }}</h1>
  </header>
  {% if event.start %}
  <div role="timer" id="countdown" class="display-5 text-center mb-4"><small class="text-muted">countdown timer loading…</small></div>
  {% endif %}
  <dl class="row">
  {% if event.start %}
    <dt class="col-sm-3">Start</dt>
    <dd class="col-sm-9"><time class="dt-start" datetime="{{ event.start }}" id="start">{{ event.start | humanDate }}</time></dd>
    <dt class="col-sm-3">Location</dt>
    <dd class="col-sm-9"><abbr title="If You Know You Know" class="p-location">IYKYK</abbr></dd>
  {% endif %}
    <dt class="col-sm-3">Reigning Champion</dt>
    <dd class="col-sm-9">Brent L. (2022&ndash;)</dd>
  </dl>
  <p class="p-description e-content">Scott was born on xmas day. To celebrate him, his wife Jen started a 5k race called “Dem Calves” (I mean have you seen the man&rsquo;s calves?). This race is a one mile loop run three times from Scott's house. In between each loop Jen thinks up some activity we have to do (ie make Scott a bday poem, eat a powdered donut) before starting the next loop. There is a trophy.</p>

  

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      {% for image in imagesSortedForHomePage %}
      <!-- {{ image.path }} === {{ startImagePath }} -->
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="{{ loop.index - 1 }}" {% if image.path === startImagePath %}class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index }}"></button>
      {% endfor %}
      </div>
    <div class="carousel-inner">
      {% for image in imagesSortedForHomePage %}
      <!-- {{ image.path }} === {{ startImagePath }} -->
        <div class="carousel-item {% if image.path === startImagePath %}active{% endif %}">
          <img src="/images/{{ image.path }}" class="d-block w-100" alt="{{ image.alt }}">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% if event.start %}
<script>
  const start = document.getElementById('start');
  const startTime = new Date(Date.parse(start.getAttribute('datetime')));
  const countdown = document.getElementById('countdown');

  // go ahead and run it so we're not waiting for the first interval to expire before it shows
  updateTimer(startTime,countdown);
  window.setInterval(updateTimer, 1000, startTime, countdown);
</script>
{% endif %}