---
layout: layouts/base.njk
title: Hall of Fame | Dem Calves 5k
---
<div class="container">
  <h1 class="display-1 text-center">Dem Calves Hall of&nbsp;Fame</h1>
  
  <h2>Past Winners</h2>
      
  <ol reversed start="2021" class="ps-5">
      <li>Catherine B.</li>
      <li>Nick F.</li>
      <li>Brent L.</li>
      <li>Brent L.</li>
      <li>Scott L.</li>
  </ol>
</div>