---
layout: layouts/base.njk
title: Hall of Fame | Dem Calves 5k
---
<!DOCTYPE html>
<html>
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hall of Fame | Dem Calves 5k</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="display-1">Dem Calves Hall of&nbsp;Fame</h1>
    
    <h2>Past Winners</h2>
        
    <ol reversed start="2021" class="ps-5">
        <li>Catherine B.</li>
        <li>Nick F.</li>
        <li>Brent L.</li>
        <li>Brent L.</li>
        <li>Scott L.</li>
    </ol>
  </div>
</body>
</html>
