---
layout: layouts/base.njk
title: Hall of Fame | Dem Calves 5k
---
<div class="container">
  <h1 class="display-1 text-center">Dem Calves Hall of&nbsp;Fame</h1>
  
  <h2>Past Winners</h2>
      
  <dl class="row">
    {% for winner in winners %}
      <dt class="col-2 col-sm-1">{{ winner.year }}</dt>
      <dd class="col-10 col-sm-11">{{ winner.winner }}</dd>
    {% endfor %}
  </ol>
</div>